@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.contfoter{
    width: 100%;
    height: 120px;
    background: #EEECF9;
    padding:4%;
    display: flex;
}

.txtmarketfot{
    word-wrap: break-word;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
}
.buttt{
    display: flex;
    margin-left: 20%;
}
.vkbut{
    background: transparent;
    border: none;
    width: 70px;
    margin-top: -5px;
}

.gmailbut{
    background: transparent;
    border: none;
    width: 50px;
    margin-top:0;
}
.rightfot{
    margin: 0;
    margin-left: 10%;
}

.leftfot{
    width: 50%;
}

.marketotolkt{
    margin-left:15px;
    margin-top: -3px;
}

.quefot{
    margin-top: 15px;
}
.ic{
    width: 45px;
    height: 45px;
    text-decoration: none;
}

.icgit{
    width: 70px;
    text-decoration: none;
    color: black;
}