.products-box{
    display: flex;
    margin: 0 auto;
    margin-top: 3%;
    width:75%;
    max-width: 80%;
    flex-wrap: wrap;
    margin-bottom: 3%;
}
body{
    overflow-x:hidden;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cbcacb89; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a4a3a489; 
  }

  .add-to-product-button{
    width: 65%;
    background-color: #a297dca4;
    margin: 0 auto;
    height: 100px;
    margin-left: 230px;
    margin-top: 90px;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    color: white;
  }

  .add-to-product-button:hover{
    background-color: #9081d9a4;
  }

  .add-to-kategories-button{
    width: 65%;
    background-color: #a297dca4;
    margin: 0 auto;
    height: 100px;
    margin-left: 230px;
    margin-top: 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    color: white;
    margin-bottom: 40px;
  }

  .add-to-kategories-button:hover{
    background-color: #9081d9a4;
  }

.image-container{
  margin: 0 auto;
  margin-left: 24%;
  z-index: 1;

}

.slide-container{
  margin-top: 40px;
  
}

.searchBack {
  z-index: 10;
}

.slide-container{
  margin-top: 40px;
  z-index: 1;
  
}
.react-slideshow-container .default-nav:first-of-type{
margin-top: -7px;
margin-left: 0px;
}
.react-slideshow-container .default-nav:last-of-type {
  margin-top: -7px;

}

.each-fade{
  z-index: 1;
  position: relative;
}

.img-contsld{
  z-index: 1;
}

.image-container{
  z-index: 1;
}
.imgrek{
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 5%;
  
}
